# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Ajay Menon
#	email = ajay.menon@quintype.com
[user]
	name = ajaymenon0
	email = ajaymenon0@gmail.com
[core]
	excludesfile = /Users/Apple/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/Apple/.stCommitMsg
[credential]
	helper = osxkeychain
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[url "https://"]
	insteadOf = git://
